torch>=2.0.0
opencv-python
torchvision>=0.15.0
Pillow==9.5.0
tqdm == 4.62.3
scipy
pandas
# Platform-specific dependencies
intel-extension-for-pytorch; sys_platform == "linux"
torch-directml; sys_platform == "win32"